body{
    margin: 0 auto;
    padding: 0;
    width: 95%;
    
   
}

/* -------Debut header-------- */

/* Header comprenant logo, menu, formulaire, icone */
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

}

/* Boite principale contenant les 3 élements du header */
.element-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;

}

/* div image afpa */
.logo{
    width: 20% ;
    display: flex;
    justify-content: center;
}

/* image afpa */
img.afpa{
    display: flex;
    width: 30%;
    justify-content:center ;
    align-items: center;
}


/*div Menu navigation */
.menu{
   display: flex;
   align-items: center;
   width: 50%;
   justify-content: center;
  
   box-sizing: content-box;
    

}

.menu-nav{
   
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0;
    
   
}


/* puce du menu */
ul li.btn{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    margin: 5px;
    
    }

/* Hover des puces menu */
nav.menu-nav ul li.btn:hover{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 44, 88);
    transition: 0.1s;
    text-decoration: underline;
    scale: 1.1;
    color: #fff;
    width: 100%;
    
}



/* liens dans les puces */
nav.menu-nav ul li.btn a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    height: auto;
    align-items: center;
   padding: 5px;
    
    
    
    
}

nav.menu-nav ul li.btn a:hover{
    text-decoration: none;
    color:#fff;
    transition: 0.2s;
    width: 100%;
}






/* formulaire de recherche */
.formulaire{
    width: 20%;
    height: 30px;
    display: flex;
     justify-content: center;
    align-items: center;
   
    
}

/* -------fin header-------- */

/* -------Debut prestations-------- */

/* Section principale des prestations */
.prestation{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

/* H1 nos prestaitons */
h1{
    padding: 10px;
    background-color: rgb(175, 44, 88);
    text-align: center;
    color: white;
    border-radius: 5px;
    width: 30%;

}

/* Div de groupe pour les 3 prestations */
.grp-prestation{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
   

}

/* Prestation */
.bulle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: auto;
   
   

}

/* bulle verte orientation*/
h2.titre-bulle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: none;
    color: #fff;
    border : 1px solid green;
    border-radius: 75px;
    background-color: green;
}

/* div contenant texte en dessous de la bulle verte orientation */
.paragraphe-bulle{
    display: flex;
    width: 100%;
    
 }

/* Texte en dessous de la bulle orientation */
p.orientation{
    display: flex ;
    flex-direction: column;
    align-items: center;
    border: none;
    text-align: center;
    width: 100%;
    font-weight: bold;
}


/* Span pour l'icon "+" */
.icon{
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    font-weight: 800;
    width: 20%;
    align-items:center;
    justify-content: center;
}

/* Texte en dessous de la bulle formation */
p.formation{
    display: flex ;
    flex-direction: column;
    align-items: center;
    border: none;
    text-align: center;
    width: 100%;
    font-weight: bold;
}


/* Paragraphe reussite hidden pour alignement bulle verte */
.para-reussite{
    visibility: hidden;
    opacity: 0;
}

/* -------Debut section orientation--------- */

/* Section principale orientation */
section.detail-orientation{
        margin-top: 100px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
    
}

/* boite qui regroupe les elements orientation */
.grp-orientation{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
   
}

/* div valoriser */
.valoriser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

/* Bulle verte valoriser */
.bulle-valoriser{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* div professionnaliser */
.professionnaliser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
   

}

/* Bulle verte professionnaliser */
.bulle-professionnaliser{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* div accompagnement */
.accompagner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    
}

/* bulle verte accompagnement */
.bulle-accompagnement{
    background-color: whitesmoke;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* contenus de la bulle */
h3.titre-bulle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 260px;
    border: none;
    color: #fff;
    border : 1px solid green;
    border-radius: 130px;
    background-color: green;
    text-align: center;
    flex-direction: column;
}

/* icon fleche bas */
span.fleche-bas{
    color:  rgb(175, 44, 88);
    font-size: 35px;
    font-weight: 900;
}

.test{
    display: flex;
   
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

/* txt en dessous */
p.txt-orientation{
    display: flex;
    font-display: center;
    text-align: center;
    justify-content: center;
    font-weight: 900;
    width: 100%;
    
    height: auto;
}

/* ----------Section formation-------- */

/* section principale formation */
section.section-formation{
    margin-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;

}

/* boite qui regroupe toute les formations */
.grp-formation{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
}

/* bloc général pour chaque formation */
.type-formation{
    background-color: rgba(128, 128, 128, 0.225);
    display: flex;
    width: 95%;
    justify-content:space-between ;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    flex-wrap: wrap;
}

/* grp1 pour chaque formation */
.grp1{
    display: flex;
    width: 30%;
    
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* grp2 pour chaque formation */
.grp2{
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* grp3 pour chaque formation */
.grp3{
    display: flex;
    width: 30%;
    color: #fff;
    background-color: green;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 19px;
}

/* images des formations */
img.img-form{
    display: flex;
    width: 100%;
    height: auto;
}

/* div pour calendrier prochaine session */
.date-session{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color:rgba(175, 44, 88, 0.153);
    width: 50%;
    font-size: 22px;
    border-radius: 5px;
    padding: 10px;
}

/* div pour le choix d'une formation */
.selection-formation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    width: 100%;
    font-size: 20px;
    margin-bottom: 30px;
}

/* titre milieu */
.titre-grp2{
    color:  rgb(175, 44, 88);
    font-size: 27px;
    font-weight: bold;
    text-align: center;
}

/* txt choisir une formation */
label.select{
    font-size: 20px;
    
}

/* boite de selection formation */
select{
    font-size: 18px;
    text-align: center;
    margin-top: 2px;
    background-color: #fff;
    display: flex;
    width: 100%;
    
}

/* txt prochaine session */
label.session{
   
    justify-content: center;
    align-items: center;
    display:flex ;
    width: 100%;
    font-size: 20px;
}

/* calendrier, mification de la taille */
input.date{
    font-size: 18px;
}

/* ---------Debut section Help----------- */

/* section principale help */
section.section-help{
    margin-top: 100px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-wrap: wrap;
}

/* boite qui regroupe les 2 elements  */
.element-help{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center ;
    margin-bottom: 30px;
    flex-wrap: wrap;
    
    
    
}

/* 1er element */
.text-help{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    padding-top: 18px;
    padding-bottom: 15px;
}

/* contenu text element 1 */
p.help{
    display: flex ;
    width: 60%;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    flex-direction: column;
    align-items: center;
}

/* contenu icon element 1 */
span.icons{
    display: flex;
    flex-direction: column;
    width: 20%;
    color: white;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

/* icon element 1 */
#help1{
    margin: 8px;
}

#help2{
    margin: 8px;
}

/* element 2 */
.formulaire-envoi{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    justify-content: center;
    
    padding: 10px;
}

/* div selectionner une question */
.boite-question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.225);
    padding-bottom: 10px;
    width: 100%;
}

/* div formulaire textarea */
.boite-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.225);

    width: 100%;
}

/* txt contactez nous */
label.msg{
    
    font-size: 20px;
    padding: 3px;

}

/* txt selectionner une question */
label.form-help{
    font-size: 20px;
    margin-top: 10px;

}

/* champ de selection des questions */
select.select-help{
    
    font-size: 18px;
}





/* ----------footer----------- */

/* boite footer*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #44131320;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 100px;
}

/* logo afpa footer */
.logo-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

/* div pour grouper les deux grp de lien */
.lien-grp{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

/* 1er grp de lien */
.lien-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
}

/* 2eme grp de lien */
.lien-footer2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* ul des liens footer */
ul.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

/* li des liens footer */
ul.footer li{
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding:10px;

}

/* p pour le copyright footer */
p.footer{
    text-align: center;
    font-weight: 900;
   
}



/* mediaqueries */
@media screen and (min-width: 600px) and (max-width: 1080px) {

/* ------------HEADER------------- */

/* div image afpa */
.logo{
    
    width: 100% ;
    display: flex;
    justify-content: center;
}


/*div Menu navigation */
.menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
     
 
 }

 /* boite nav */
 nav.menu-nav {
     
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
/* ul du nav */
 nav.menu-nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
     align-items: center;
    justify-content: center;
    
    
  
}

/* li des ul  */
nav.menu-nav ul li.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    


}

/* liens dans les puces */
nav.menu-nav ul li.btn a{
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    padding: 5px
}

li.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}



/* Hover des puces menu */
nav.menu-nav ul li.btn:hover{

    scale: 1.3;
}



 /* formulaire de recherche */
.formulaire{
    width: 100%;
    height: 30px;
    display: flex;
     justify-content: center;
    align-items: center;
    margin: 20px;
   
    
}

/* formulaire de recherche */
form{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* barre de recherche */
input.search{
    display: flex;
    width: 50%;
    height: 30px;
    font-size: 20px;
}

/* bouton de recherche */
input.submit{
    display: flex;
    width: 12%;
    margin-left: 2px ;
    font-size: 18px;
}

/* ------------PRESTATION------------ */

/* boite pour icone + et = */
.icon{
        margin: 30px;
        width: 100%;
}

/* -------------ORIENTATION------------ */

.valoriser{
        
    width: 100%;
    }

.professionnaliser{
    width: 100%;
    margin-top: 50px;
}

.accompagner{
    margin-top: 50px;
    width: 100%;
}

/* grp2 pour chaque formations */
.grp1{
    
    width: 100%;
 
}

/* grp2 pour chaque formation */
.grp2{
    
    width: 100%;
   
}

/* grp3 pour chaque formation */
.grp3{
   
    width: 100%;

}

.date-session{
    margin-bottom: 25px;
    padding: 10px;
    width: 90%;
    font-size: 35px;
    
}

.text-help{
    width: 100%;
    margin-bottom: 30px;
}

.formulaire-envoi{
    width: 100%;
}

/* champs message formulaire */
#contact{
    width: 90%;
    font-size: 18px;
}

/* barre question les plus posées */
.select-help{
    width: 90%;
}

/* bouton form help */
#submit-help{
    width: 40%;
    margin-top: 15px;
    padding: 5px;
}


}

@media screen and (max-width: 599px) {
/* div image afpa */
.logo{
    
        width: 100% ;
        display: flex;
        justify-content: center;
}

/*div Menu navigation */
.menu{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
     
 
 }

 
 nav.menu-nav {
     
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
nav.menu-nav ul{
    display: flex;
    flex-direction: column;
    width: 100%;
     align-items: center;
    justify-content: center;
    
    
  
}

nav.menu-nav ul li.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    


}




/* liens dans les puces */
nav.menu-nav ul li.btn a{
    font-size: 28px;
    width: 100%;
    display: flex;
    align-items:center;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
    padding: 5px
}

li.btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}



/* Hover des puces menu */
nav.menu-nav ul li.btn:hover{

    scale: 1.3;
}



 /* formulaire de recherche */
.formulaire{
    width: 100%;
    height: 30px;
    display: flex;
     justify-content: center;
    align-items: center;
    margin: 20px;
   
    
}

/* Boite formulaire */
form{
    display: flex;
    width: 100%;
    justify-content: center;
}

/* barre recherche */
input.search{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 25px;
}

input.submit{
    display: flex;
    width: 20%;
    margin-left: 2px ;
    font-size: 18px;
}

h1{
    width: 90%;
    font-size: 30px;
}

    
    
    
.bulle{
      
        width: 100%;
}

h2.titre-bulle{
    font-size: 50px;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.paragraphe-bulle{
    width: 100%;
   ;
    display: flex;
    font-size: 25px;
}


    
      
    .icon{
        margin: 30px;
        width: 100%;
        
        
    }

    .bulle-formation{
       
        width: 100%;
        
        
    }

    .bulle-reussite{
        
        width: 100%;
    }

    .accompagner{
       margin-top: 130px;
        width: 100%;
    }

    .valoriser{
        width: 100%;
        margin-top: 130px;
    }

.professionnaliser{
    width: 100%;
    margin-top: 130px;
}

/* txt en dessous */
p.txt-orientation{
  font-size: 22px;
}
/* -------Formation------- */
.grp1{
   
    width: 100%;
   
 
}

/* grp2 pour chaque formation */
.grp2{
    
    width: 100%;
   
}

/* grp3 pour chaque formation */
.grp3{
   
    width: 100%;

}

.date-session{
    margin-bottom: 25px;
    padding: 10px;
    width: 90%;
    font-size: 35px;
    
}

/* ------section help----- */

/* boite qui groupe les deux sous boite */
.element-help{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


/* boite texte avec icone */
.text-help{
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    
}

/* boite formulaire + selection question */
.formulaire-envoi{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

/* champs message formulaire */
#contact{
    width: 90%;
    font-size: 18px;
}

/* barre question les plus posées */
.select-help{
    width: 90%;
}

/* bouton form help */
#submit-help{
    width: 70%;
    margin-top: 15px;
    padding: 5px;
}
}